
@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUser</h2>
<h3>@ViewBag.UserMessage</h3>

@{ 
    foreach(int number in ViewBag.MyList)
    {
        <h1>This is element number @number</h1>
    }
}